<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springcloud.dao.RegisterDao">
    <!-- 注册-->
    <insert id="register" parameterType="Register" useGeneratedKeys="true" keyProperty="id">
         insert into register(name,enterprise,phone,password) values (#{name},#{enterprise},#{phone},#{password});
    </insert>

    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.entities.Register">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="enterprise" property="enterprise" jdbcType="VARCHAR"/>
        <id column="phone" property="phone" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>

    </resultMap>
    <!-- 防止重复注册-->
    <select id="getAllUser" parameterType="String" resultMap="BaseResultMap">
        select * from  register where name=#{name}
    </select>

    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from  register where id=#{id}
    </select>
    <!-- 修改密码-->
    <update id="modifyPwd" parameterType="String">
        update register set password =#{password} where name =#{name};
    </update>



</mapper>

